.product-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 30px;
    color: white;
    font-size: 10px;
    
}
.product-place {
    grid-column-start: 2;
    grid-column-end: 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
    margin-top: 50px;
}
    